{% extends 'base.j2' %}
{% block content %}

<div class="container">
<div class = "col-md-12"> 
    <hr> 
    <h2><a href = "{{'/post?post_id=' + post.id|string}}">{{ post.title }}</a></h2> 
    <span >{{ timeago(post.published_at, datetime) }} |
        <a href = "{{ '/profile/' + post.author.username}}">{{ post.author.username }}</a> 
    </span> 
    <hr> 
    <p>{{ post.content }}</p> 

    <hr> 

    {% if post.blog %}
        <div id = "shortlisting-rounds"> 
            <h4> ShortListing Rounds </h4> 
            <p>{{ post.blog.shortlisting_content}}</p> 

            <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for round in post.blog.rounds %}
                {% if round.round_type.value == 'shortlisting' %}
                    <li class="nav-item">
                        <a class="{{ 'nav-link ' + ('active' if loop.first else '')}}"
                        id="{{ round.company_name + '-shortlisting-controller'}}"
                            data-toggle="tab" href="{{'#' + round.company_name + '-shortlisting-content'}}"
                            role="tab"
                            aria-controls="{{ round.company_name + '-shortlisting-controller'}}"
                            aria-selected="true">
                        {{ round.company_name }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            </ul> 

            <div class="tab-content" id="myTabContent" style = "margin-top: 20px">
                {% for round in post.blog.rounds %}
                    {% if round.round_type.value == 'shortlisting' %}
                        <div class="{{'tab-pane fade ' + ('show active' if loop.first else '') }}" 
                        id="{{round.company_name + '-shortlisting-content'}}" role="tabpanel" aria-labelledby="contact-tab">

                            {{ round.content }}

                            <p>Got Selected : {{ 'Yes' if round.selected else 'No' }} <p> 
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
        </div> 

        <hr> 

        <div id = "interview-rounds"> 
            <h4> Interview Rounds </h4> 
            <p>{{ post.blog.interview_content}}</p> 

            <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for round in post.blog.rounds %}
                {% if round.round_type.value == 'interview' %}
                    <li class="nav-item">
                        <a class="{{ 'nav-link ' + ('active' if loop.first else '')}}"
                        id="{{ round.company_name + '-interview-controller'}}"
                            data-toggle="tab" href="{{'#' + round.company_name + '-interview-content'}}"
                            role="tab"
                            aria-controls="{{ round.company_name + '-interview-controller'}}"
                            aria-selected="true">
                        {{ round.company_name }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            </ul> 

            <div class="tab-content" id="myTabContent" style = "margin-top: 20px">
                {% for round in post.blog.rounds %}
                    {% if round.round_type.value == 'interview' %}
                        <div class="{{'tab-pane fade ' + ('show active' if loop.first else '') }}" 
                        id="{{round.company_name + '-interview-content'}}" role="tabpanel" aria-labelledby="contact-tab">

                            {{ round.content }}

                            <p>Got Selected : {{ 'Yes' if round.selected else 'No' }} <p>
                            <p>Will be Joining : {{ 'Yes' if round.joining else 'No' }} <p> 
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
        </div> 
    {% endif %}
    
        <div class = "pull-right"> 
            {% with tags = post.tags.all() %}
                {% include 'tags.j2' %}
            {% endwith %}
        </div> 

        <div class = "d-flex">
            <div> <i class = "vote upvote material-icons" role = "button" style = "font-size:50px"
            data-id = "{{post.id}}"
            data-type = "post"
            data-upvote = "True"
            data-target = "{{'#votes-post-' + (post.id)|string}}">arrow_drop_up</i></div>      

            <div style = "text-align:center" class = "mt-3"> <span id = "{{'votes-post-' + (post.id)|string}}">{{post.votes_count}}</span></div> 
            <div> <i class = "vote downvote material-icons" role = "button" style = "font-size: 50px"
            data-id = "{{post.id}}"
            data-type = "post"
            data-upvote = "False"
            data-target = "{{'#votes-post-' + (post.id)|string}}">arrow_drop_down</i> </div> 
        </div>

    </div> 
    <hr>
    {% include 'comments.j2'%}
</div>

</div> 


{% endblock %}