{% extends 'basepost.j2' %}

{% block hiddentags %}

    {{ post_form.interview.hidden_tag() }}    
    {{ post_form.shortlisting.hidden_tag() }} 
    {% for round in post_form.shortlisting.rounds %}
        {{ round.hidden_tag() }}
    {% endfor %}
    {% for round in post_form.interview.rounds %}
        {{ round.hidden_tag() }}
    {% endfor %}

{% endblock %}

{% block formcontent %}

    <div class = "form-group"> 
        {{ post_form.content(class = "form-control row border-top-0 border-left-0 border-right-0 shadow-none outline-none", 
        placeholder = "Overall Experience") }}
    </div>

    <div class = "form-group" style = "margin-bottom: 100px"> 
        {{ post_form.shortlisting.content(class = "form-control row border-top-0 border-left-0 border-right-0 shadow-none outline-none"
        , placeholder = "Shortlisting Round's Overall Experience") }}</p>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for round in post_form.shortlisting.rounds %}
                <li class="nav-item">
                    <a class="{{ 'nav-link ' + ('active' if loop.last else '')}}"
                    id="{{ round.name + '-controller'}}"
                        data-toggle="tab" href="{{'#' + round.name}}"
                        role="tab"
                        aria-controls="{{ round.name + '-controller'}}"
                        aria-selected="true">
                    <select id={{ 'selected-'+round.name }} class="form-control" onChange="companyShortListNames('{{round.name}}')">
                        {% for tag in allTags %}
                            {% if tag.isCompany == True %}
                                <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {{ round.company_name(class = "form-control border-top-0 border-left-0 border-right-0 shadow-none outline-none"
                    , placeholder = "Company's Name", type="hidden") }}</a>
                </li>
            {% endfor %}

            <li class = "nav-item"> <a class = "nav-link">
                {{ post_form.addShortListing(class= "nav-item-sm btn btn-success btn-sm")  }}
            </a> </li> 
        </ul> 

        <div class="tab-content" id="myTabContent" style = "margin-top: 20px">
            {% for round in post_form.shortlisting.rounds %}
                <div class="{{'tab-pane fade ' + ('show active' if loop.last else '') }}" 
                id="{{round.name}}" role="tabpanel" aria-labelledby="contact-tab">

                    {{ round.content(class = "form-control row border-top-0 border-left-0 border-right-0 shadow-none outline-none"
                    , placeholder = "Company's Shortlisting Round's Experience") }}

                    <div class = "form-check">
                        {{ round.selected(class = "form-check-input") }}
                        {{ round.selected.label(class = "form-check-label")}}
                    </div>  
                </div> 
            {% endfor %}
        </div>
    </div>

    {# Interview Round's Description #}

    <div class = "form-group"> 
        {{ post_form.interview.content(class = "form-control row border-top-0 border-left-0 border-right-0 shadow-none outline-none"
        , placeholder = "Interview Round's Overall Experience") }}</p>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for round in post_form.interview.rounds %}
                <li class="nav-item">
                    <a class="{{ 'nav-link ' + ('active' if loop.last else '')}}"
                    id="{{ round.name + '-controller'}}"
                        data-toggle="tab" href="{{'#' + round.name}}"
                        role="tab"
                        aria-controls="{{ round.name + '-controller'}}"
                        aria-selected="true">
                    <select id={{ 'selected-'+round.name }} class="form-control" onChange="companyNames('{{round.name}}')">
                        {% for tag in allTags %}
                            {% if tag.isCompany == True %}
                                <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {{ round.company_name(class = "form-control border-top-0 border-left-0 border-right-0 shadow-none outline-none"
                    , placeholder = "Company's Name", type="hidden") }}</a>
                </li>
            {% endfor %}

            <li class = "nav-item"> <a class = "nav-link">
                {{ post_form.addInterview(class= "nav-item-sm btn btn-success btn-sm")  }}
            </a> </li> 
        </ul> 

        <div class="tab-content" id="myTabContent">
            {% for round in post_form.interview.rounds %}
                <div class="{{' row tab-pane fade ' + ('show active' if loop.last else '') }}" 
                id="{{round.name}}" role="tabpanel" aria-labelledby="contact-tab">

                    {{ round.content(class = "form-control row border-top-0 border-left-0 border-right-0 shadow-none outline-none"
                    , placeholder = "Company's Interview Round's Experience") }}
                    <div class = "form-check">
                        {{ round.selected(class = "form-check-input") }}
                        {{ round.selected.label(class = "form-check-label")}}
                    </div>  
                    
                    <div class = "form-check">
                        {{ round.joining(class = "form-check-input") }}
                        {{ round.joining.label(class = "form-check-label")}}
                    </div> 
                </div> 
            {% endfor %}
        </div>
    </div> 

{% endblock %}