{% extends 'base.j2' %}
{% block content %}

<div class="container">
<div class = "col-md-12"> 
    <hr> 
    <h2><a href = "{{'/post?post_id=' + post.id|string}}">{{ post.title }}</a></h2> 
    <span >{{ published_at }} by
        <a href = "{{ '/profile/' + post.author.name}}">{{ post.author.name }}</a> 
    </span> 
    <hr> 
    <p>{{ post.content }}</p> 

    <hr> 

    {% if post.blogs %}
        <div id = "shortlisting-rounds"> 
            <h4> ShortListing Rounds </h4> 
            <p>{{ post.blogs[0].shortlisting_content}}</p> 

            <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for round in post.blogs[0].rounds %}
                {% if round.round_type == 'shortlisting' %}
                    <li class="nav-item">
                        <a class="{{ 'nav-link ' + ('active' if loop.first else '')}}"
                        id="{{ round.company_name + '-shortlisting-controller'}}"
                            data-toggle="tab" href="{{'#' + round.company_name + '-shortlisting-content'}}"
                            role="tab"
                            aria-controls="{{ round.company_name + '-shortlisting-controller'}}"
                            aria-selected="true">
                        {{ round.company_name }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            </ul> 

            <div class="tab-content" id="myTabContent" style = "margin-top: 20px">
                {% for round in post.blogs[0].rounds %}
                    {% if round.round_type == 'shortlisting' %}
                        <div class="{{'tab-pane fade ' + ('show active' if loop.first else '') }}" 
                        id="{{round.company_name + '-shortlisting-content'}}" role="tabpanel" aria-labelledby="contact-tab">

                            {{ round.content }}

                            <p>Got Selected : {{ 'Yes' if round.selected else 'No' }} <p> 
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
        </div> 

        <hr> 

        <div id = "interview-rounds"> 
            <h4> Interview Rounds </h4> 
            <p>{{ post.blogs[0].interview_content}}</p> 

            <ul class="nav nav-tabs" id="myTab" role="tablist">
            {% for round in post.blogs[0].rounds %}
                {% if round.round_type == 'interview' %}
                    <li class="nav-item">
                        <a class="{{ 'nav-link ' + ('active' if loop.first else '')}}"
                        id="{{ round.company_name + '-interview-controller'}}"
                            data-toggle="tab" href="{{'#' + round.company_name + '-interview-content'}}"
                            role="tab"
                            aria-controls="{{ round.company_name + '-interview-controller'}}"
                            aria-selected="true">
                        {{ round.company_name }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            </ul> 

            <div class="tab-content" id="myTabContent" style = "margin-top: 20px">
                {% for round in post.blogs[0].rounds %}
                    {% if round.round_type == 'interview' %}
                        <div class="{{'tab-pane fade ' + ('show active' if loop.first else '') }}" 
                        id="{{round.company_name + '-interview-content'}}" role="tabpanel" aria-labelledby="contact-tab">

                            {{ round.content }}

                            <p>Got Selected : {{ 'Yes' if round.selected else 'No' }} <p>
                            <p>Will be Joining : {{ 'Yes' if round.joining else 'No' }} <p> 
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
        </div> 

        <div class = "pull-right"> 
            {% set themes = ['primary', 'secondary', 'success', 'info', 'warning', 'danger'] %}
            {% for i in range(post.blogs[0].tags|length) %}
            <span class = "{{ 'badge badge-' + themes[i % 6] }}">{{ post.blogs[0].tags[i].name }}</span> 
            {% endfor %}
        </div> 
        </div> 
        <hr> 

    {% endif %}

    <div class = "comments">
        <h5> Comments... </h5> 
        <p> Yet to be implemented (Can integrate using facebook's api or disqus?) </p>  
    </div> 

</div> 
</div> 


{% endblock %}