<div class = "comments">
    <small> 
        <h5><a role = "button" data-toggle = "collapse"
            href = "#direct-reply" 
            aria-expanded = "true">Add Comment</a></h5>
    </small>  

    <form action = '/add_comment' id = "direct-reply" class= "collapse" method = "POST"> 
        <textarea name = "content" class = "form-control"> </textarea>  
        <input type = "hidden" name = "depth" value = "0" />
        <input type = "hidden" name = "parent_id" value = "-1" />
        <input type = "hidden" name = "post_id" value = "{{ post.id }}" /> 
        <button type = "submit" class = "mt-2 btn btn-primary btn-sm">Comment</button>
    </form> 

    {% macro recurse (lst) %}
            {% for comment in lst %}
                {% with onBlog = True %}
                    {% include 'comment.j2' %}
                {% endwith %} 

                {% if comment.children | length > 0 %}
                    <div class = "ml-5"> 
                        {{ recurse(comment.children) }}
                    </div> 
                {% endif %}
            {% endfor %}
    {% endmacro %}
    {{ recurse(post.comments | selectattr("parent", "equalto", None)) }}
</div>