<hr> 
<footer class="site-footer" style = "background-color:; height: 250px;">
    <div class = "container">
    <div class = "row" style = "justify-content: space-between;"> 
        <div class = "col-md-4" > 
            <h2> Contact us </h2> 
            <div class = "d-flex mb-3"><i class = "material-icons" style = "color: red;">mail</i> 
            <a class = "ml-2" href= "mailto: goc.iitkgp@gmail.com">goc.iitkgp@gmail.com</a> 
            </div> 
            <div class = "d-flex"> <i class = "material-icons" style = "color: blue;">facebook</i>
            <a class = "ml-2" href = "https://facebook.com/goc.iitkgp" target = "_blank">facebook.com/goc.iitkgp</a>
            </div> 
        </div> 
        


        <div class = "col-md-4" > 
            {% set links = ['problems' , 'blogs', 'leaderboard', 'forum', 'alumnus', 'login', 'signup', 'home'] %}
            <div class = "d-flex-col"> 
                <h2 class = "ml-4"> Links </h2> 
                <ul style = "list-style: none;"> 
                    <li> <a href = "/problems" target = "_blank">Problems</a> </li>
                    <li> <a href = "/forum" target = "_blank">Forum</a> </li>
                    <li> <a href = "/leaderboard" target = "_blank">Leaderboard</a> </li>
                    <li> <a href = "/alumnus" target = "_blank">Alumnus</a> </li>
                    <li> <a href = "/login" target = "_blank">Login</a> </li>
                    <li> <a href = "/signup" target = "_blank">Signup</a> </li>
                    <li> <a href = "/" target = "_blank">Home</a> </li>
                </ul> 
            </div> 
        </div>   
    </div> 
    </div> 
</footer>