{% extends 'base.j2' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>

<div class = "container mt-3"> 
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-link active" id="users-tab" data-toggle="tab" role="tab"
        href="#users-table-div" aria-controls="users-table-div" aria-selected="true">Users Leaderboard</a>
    <a class="nav-link" id="regionals-tab" data-toggle="tab" role="tab" 
        href="#regionals-table-div" aria-controls="regionals-table-div" aria-selected="false">Regionals Leaderboard</a>
  </div>
</nav>

<div class="tab-content mt-3" id="nav-tabContent">
    <div class="tab-pane fade show active" role="tabpanel"
    id="users-table-div" aria-labelledby="users-tab">
        {% include 'kgpians-table.j2' %}
    </div>

    <div class="tab-pane fade mt-3"  role="tabpanel"
    id="regionals-table-div" aria-labelledby="nav-profile-tab">
        {% include 'regionals-table.j2' %}
    </div>
</div>
</div> 

{% endblock %}