{% extends 'base.j2' %}
{% block content %}

<div class = "container d-flex justify-content-center" >
<form action="", method="POST" class= "col-md-6 col-12 rounded-box d-flex-col">
<div class = "px-2"> 
    {{ form.hidden_tag() }}
    <div class = "form-group row"> <legend>Log In!</legend>  </div>

    <div class="form-group">
        <div class = "row"> 
            {{ form.username_or_email.label(class=" col-5 col-form-label ml-n2") }}
            {{ form.username_or_email(class="form-control col-7 ml-2") }}
        </div> 

        <div class = "form-errors"> 
            {% for error in form.username_or_email.errors %}
                <div class = "row"> <span class= "text-danger offset-5"> <small>{{ error }}</small></span> </div>
            {% endfor %}
        </div> 
    </div>


    <div class="form-group">
        <div class = "row"> 
            {{ form.password.label(class="col-5 col-form-label ml-n2") }}
            {{ form.password(class="form-control col-7 ml-2") }}
        </div>
        <div class = "form-errors"> 
            {% for error in form.password.errors %}
            <div class = "row"> <span class= "text-danger offset-5"> <small>{{ error }}</small></span> </div>
            {% endfor %}
        </div> 
    </div>

    <div class="form-group d-flex justify-content-center">
        {{ form.submit(class="btn btn-outline-info") }}
    </div> 
</div> 
</form>
</div> 
{% endblock content %}