<header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename = 'logo.svg') }}" width="30" height="30" alt="" loading="lazy">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        {# <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li> #}
        <li class="nav-item">
            <a class="nav-link disabled" area-disabled = "true" href="#">Problems</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="/forum">Forum</a>
        </li>

        <li class="nav-item">
          <a class = "nav-link" href = "/leaderboard">Leaderboard</a>  
        </li> 

        <li> 
          <a class = "nav-link disabled" area-disabled = "true" href = "#">Alumnus</a> 
        </li> 

        </ul>
        <ul class = "navbar-nav"> 
          {% if current_user.is_authenticated %}
            <li> 
              <a class = "nav-link" href = "{{'/profile/' + current_user.username}}">My Profile</a>
            </li> 

            <li class = "nav-item"> 
              <a class = "nav-link" href = "{{ url_for('logout') }}" >Logout</a>
            </li> 
          {% else %}
            <li class = "nav-item"> 
              <a class = "nav-link" href = "{{ url_for('login') }}" >Login</a>
            </li> 

            <li class = "nav-item"> 
              <a class = "nav-link" href = "{{ url_for('signup') }}"> Signup</a> 
            </li> 

          {% endif %} 
        </ul>
    </div>
  </nav>
</header>