{% extends 'basepost.j2' %}

{% block formcontent %}
    <div class = "form-group"> 
        {{ post_form.content(class = "form-control row border-top-0 border-left-0 border-right-0 shadow-none outline-none", 
        placeholder = "Enter your post here") }}
    </div>
    
    <p>{{ post_form.tags.label }} {{ post_form.tags }}</p>
{% endblock %}