<hr> 
<h2><a href = "{{'/post?post_id=' + post.id|string}}">{{ post.title }}</a></h2> 
<p>{{ post.content }}</p> 

<div> 
<span class = "badge"> x days ago {{ post.published_at }} |
    <a href = "{{ '/profile/' + post.author.username}}">{{ post.author.username }}</a> 
</span> 
<div class = "pull-right"> 
    {% with tags = post.tags.all() %}
        {% include 'tags.j2' %}
    {% endwith %}
</div> 
</div> 
<hr> 