{% extends 'base.j2' %}
{% block content %}
    <div> 
        <span> Please make your email public by unchecking the box against Hide Contact Information.
        <a href = "" target="popup" onclick="window.open('https://codeforces.com/settings/general/#needToHideContacts','name','width=800,height=600')">Open Cf Settings</a>
        </span> 
    </div> 
    <div class="text-center">
        <form id = "signup-form" action="", method="POST">
            <div class = "form-errors"> 
                {% for field in form.errors %}
                    {% for error in form[field].errors %}
                    <span class= "text-muted danger">{{ error }}</span> 
                    {% endfor %}
                {% endfor %}
            </div> 
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>
                    Sign Up!
                </legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control-inline") }}
                </div>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control-inline") }}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control-inline") }}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {{ form.confirm_password(class="form-control-inline") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>

{% endblock content %}